.stars {
    transition: opacity .3s ease-in-out;
    font-size: 1.25em;
}

.starFull {
    font-size: 1em;
    color: #f9c120;
}

.starEmpty {
    font-size: 1em;
    color: rgba(250, 250, 250, 0.25);
}
