.stars {
    display: inline-block;
    vertical-align: sub;
    transition: opacity .3s ease-in-out;
    font-size: 2.5vw;
}

.starFull {
    font-size: 2vw;
    color: #f9c120;
}

.starEmpty {
    font-size: 2vw;
    color: rgba(250, 250, 250, 0.25);
}
