
.app-menu {
    display: inline-block;
    margin: 0 auto;
    position: relative;
    text-align: center;
    width: auto;

    ul {
        list-style-type: none;
        margin: 0 auto;
        text-align: center;
        padding: 0;
    }

    li {
        display: inline-block;
        float: left;
        margin-right: 16px;
        font-size: 22px;
        font-weight: bold;
        opacity: 0.4;
        text-transform: uppercase;
        position: relative;

        &:hover {
            opacity: 0.8;
        }

        &:hover a::after {
            margin auto;
            left: 0;
            right: 0;
            width: 100%;
        }

        a {
            color: #ffffff;
            display: block;
            text-decoration: none;
            padding-bottom: 4px;
            -webkit-transition: all .2s ease;
            transition: all .2s ease;
        }

        a::after {
            content: " ";
            background: #FFF;
            bottom: 0;
            height: 2px;
            position: absolute;
            left: 0;
            width: 0;
            border-radius: 2px;
            -webkit-transition: all 0.2s cubic-bezier(0.25, 0.25, 0.25, 1.25);
            transition: all 0.2s cubic-bezier(0.25, 0.25, 0.25, 1.25);

        }
    }

    li.active {
        opacity: 1;


        &:hover {
            opacity: 1;
        }

        a::after {
          background-color: var(--Main-color);
          width: 100%;
        }
    }
}

.activeMarker {
    background: #FF1744;
    bottom: 0;
    display: none;
    height: 3px;
    position: absolute;
    left: 0;
    margin: 0 20px;
    -webkit-transition: all 0.2s cubic-bezier(0.25, 0.25, 0.25, 1.25);
    transition: all 0.2s cubic-bezier(0.25, 0.25, 0.25, 1.25);
    width: auto;
    border-radius: 3px;
}


/*
 * Shows menu
 */

.app-menu.shows-menu li {
    font-size: 18px;
    line-height: 22px;
}

.app-menu.shows-menu li a {
    padding: 0;
    margin: 0 20px;
}

.app-menu.shows-menu .active-marker,
.app-menu.shows-menu li:hover a::after {
    height: 2px;
}
