.navbar
    align-items: center
    background-color: var(--Navbar-bg)
    box-shadow: var(--Navbar-shadow)
    display: flex
    height: (--Navbar-height)
    justify-content: space-between
    line-height: (--Navbar-height)
    margin-top: var(--Window-handler-height)
    user-select: none
    width: 100%
    z-index: 10

    .menu
        display: flex
        align-items: center
        justify-content: center

        .title, .button
            font-size: 22px
            margin: 10px

        .title
            font-weight: bold
            text-transform: uppercase

        .button
            opacity: 0.75
            cursor: pointer
            transition: opacity 0.25s

            &:hover
                opacity: 1
