.search
    background: var(--Input-bg)
    border: var(--Input-border)
    border-radius: var(--Input-radius)
    box-shadow: var(--Input-shadow)
    display: inline-block
    margin: 10px 15px
    padding: 5px 10px
    vertical-align: middle

    input
        background: 0
        border: 0
        color: #FFF
        outline: 0
        font-weight: normal
        font-size:  0.95em
        padding: 0
        width: 150px

    input, i
        display: inline-block
        vertical-align: middle
    i
        font-size: 22px
        height: 22px
        opacity: 0.5
