.titlebar
    align-items: center
    background: var(--Navbar-bg)
    display: flex
    height: var(--Window-handler-height)
    justify-content: center
    vertical-align: middle
    margin: 0
    text-align: center
    top: 0px
    user-select: none
    width: 100%
    z-index: 99
    -webkit-app-region: drag
    position: relative
    overflow: hidden
    transition: all 250ms ease-in-out

    &.shrink {
      max-height: 0

      .fullscreen {
        padding-top: 4vh;
      }
    }

    .controls
        right: 6px

    .fullscreen
        left: 0

    .title
        font-size: 14px
        font-weight: bold

.item
    align-items: center
    color: inherit
    display: flex;
    margin: 0 auto
    position: absolute
    z-index: 10
    -webkit-app-region: no-drag

.controls
    composes: item

.fullscreen
    position: fixed
    composes: item
    background: transparent
    border: 0
    cursor: pointer
    margin: 0 6px
    opacity: 0.5
    padding: 0
    &.active
    &:hover
        opacity: 1

.button
    background-color: #000
    background-image: url('./img/topbar_sprite.png')
    background-size: 77px 12px
    border-radius: 30px
    border: 0
    cursor: pointer
    height: 12px
    margin: 0 6px
    outline: none
    padding: 0
    width: 12px

.min
    composes: button
    background-position: 0px 0px;
    &:hover
        background-position: -39px 0px;

.max
    composes: button
    background-position: -13px 0px;
    &.max:hover
        background-position: -52px 0px;

.close
    composes: button
    background-position: -26px 0px;
    &:hover
        background-position: -65px 0px;



.titlebar

    /* Platform: Darwin */

    &.darwin
        .fullscreen
            right: 0
            left: initial

        .controls
            left: 6px
            right: initial

            button
                background-image: none
                background-repeat: no-repeat

                &.close
                    background-color: #FC5753
                &.max
                    background-color: #33C748
                &.min
                    background-color: #FDBC40

            &:hover
                button
                    background-image: url('./img/topbar_sprite.png')

                    &.min
                        background-position: -39px 0px
                    &.max
                        background-position: -52px 0px
                    &.close
                        background-position: -65px 0px

    /* Plataform: Windows */

    &.win32
        .controls
            background-size: auto auto
            height: auto
            top: 1px
            right: 1px

            button
                margin: 0
                background-color: transparent
                border-radius: 0px
                height: 30px
                width: 45px
                background-image: url("./img/topbar_sprite_win.png")
                background-size: cover

                &.close
                    background-position -92px 0px
                &.max
                    background-position -46px 0px
                    &:hover
                        background-position 184px 0px
                &.is-max
                    background-position 92px 0px
                    &:hover
                        background-position 46px 0px
                &.min
                    background-position 0px 0px
                    &:hover
                        background-position -138px 0px
                &.close:hover
                    background-position 138px 0px
                    -webkit-filter brightness(1)
