.layout
    background-color: var(--Window-bg)
    color: var(--Font-color)
    font-family: var(--Font-family)
    overlay(absolute)
    scrollable()

    h1
        font-size: 18px
        margin: 20px 10px
        opacity: 0.25

    &::-webkit-scrollbar-track
        margin-top: calc( var(--Tabs-height) + var(--Navbar-height) + 20px )
